conda.enabled = true

//User Main Params
params.filtered_data = "$PWD/data/filtered/"
params.raw_data = "$PWD/data/raw/"
params.outdir = "$PWD/output/"
params.specie = "mt" //mt for mouse, MT for Human

//User Preprocessing Params
params.MAD = 5 //seuil de thresholding via MAD (median absolute deviation)
params.mt_percent = 15 //pourcentage de read mitocondriaux à partir duquel la cellule est considéré de mauvaise qualité
params.ercc_percent = 15 //pourcentage de read provenant d'ercc à partir duquel la cellule est considéré comme contaminée

//Dev Params
params.r_script = "$PWD/scripts_r"
params.nf_script = "$PWD/scripts_nextflow"
params.py_script = "$PWD/scripts_python"