conda.enabled = true

//User Params
params.filtered_data = "$PWD/data/filtered/"
params.raw_data = "$PWD/data/raw/"
params.outdir = "$PWD/output/"
params.specie = "mt"//mt for mouse, MT for Human

//Dev Params
params.r_script = "$PWD/scripts_r"
params.nf_script = "$PWD/scripts_nextflow"
params.py_script = "$PWD/scripts_python"