conda.enabled = true
conda.cacheDir = "$baseDir/CONDA_ENVS/"

//User Main Params
params.data_repo = "$baseDir/data"
params.filtered_data = "$data_repo/filtered/"
params.raw_data = "$data_repo/raw/"
params.geneset = "$data_repo/geneset/"
params.outdir = "$baseDir/output/"
params.specie = "mt" //mt for mouse, MT for Human

//User Preprocessing Params
params.MAD = 5 //seuil de thresholding via MAD (median absolute deviation)
params.mt_percent = 15 //pourcentage de read mitocondriaux à partir duquel la cellule est considéré de mauvaise qualité
params.ercc_percent = 15 //pourcentage de read provenant d'ercc à partir duquel la cellule est considéré comme contaminée

//Dev Params
params.r_script = "$baseDir/scripts_r"
params.nf_script = "$baseDir/scripts_nextflow"
params.py_script = "$baseDir/scripts_python"
params.conda_envs = "$baseDir/CONDA_ENVS" // export CONDA_ENVS_PATH="`conda info --base`/envs"
